<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zhangxiao.paladin2.core.admin.mapper.SysAdminRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.zhangxiao.paladin2.core.admin.entity.SysAdminRole">
        <id column="admin_id" property="adminId" />
        <result column="role_id" property="roleId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        admin_id, role_id
    </sql>
    <select id="getList" resultType="java.lang.Long">
        select role_id from sys_admin_role where admin_id = #{adminId}
    </select>
    <select id="countRoleUseNum" resultType="java.lang.Integer">
        select count(*) from sys_admin_role where role_id = #{roleId}
    </select>
    <insert id="saveRelation">
        INSERT INTO `sys_admin_role` (`admin_id`, `role_id`)
        VALUES
        <foreach collection="roleIdList" item="roleId" separator="," index="idx">
            (#{adminId}, #{roleId})
        </foreach>
    </insert>
    <delete id="deleteRelation">
        delete from sys_admin_role where admin_id = #{adminId}
    </delete>

</mapper>
