<!--一级导航-->
<aside class="layout-nav">
  <div class="brand">
    <span class="brand-text" *ngIf="folding">P2</span>
    <span class="brand-text" *ngIf="!folding">Paladin2</span>
  </div>
  <div class="module-list">
    <a *ngFor="let rootNavNode of rootNavs" routerLink="{{rootNavNode.path}}" routerLinkActive="active">
      <i class="iconfont pld-{{rootNavNode.tag}}"></i>
      <span [hidden]="folding" class="title text-nowrap">{{rootNavNode.title}}</span>
    </a>
  </div>
</aside>
<!--二级导航-->
<nav class="layout-sub-nav" *ngIf="subNavs?.length>0">
  <div class="item" *ngFor="let item of subNavs">
    <a [routerLink]="item.path" routerLinkActive="active">{{item.title}}</a>
  </div>
</nav>
<!--头部导航-->
<header class="layout-header">
  <a class="fold-trigger" (click)="toggle()">
    <i nz-icon type="menu-fold" theme="outline" *ngIf="!folding"></i>
    <i nz-icon type="menu-unfold" theme="outline" *ngIf="folding"></i>
  </a>
  <span>面包屑占位符</span>
  <div class="flex-1"></div>
  <nz-dropdown nzPlacement="bottomRight" style="float: right;">
    <a nz-dropdown class="user">
      管理员昵称
    </a>
    <ul nz-menu nzSelectable>
      <li nz-menu-item (click)="changePassword()">
        <i nz-icon type="key" theme="outline"></i> 修改密码
      </li>
      <li nz-menu-divider></li>
      <li nz-menu-item (click)="logout()">
        <i nz-icon type="logout" theme="outline"></i> 退出登录
      </li>
    </ul>
  </nz-dropdown>
</header>
<!--主页面-->
<section class="layout-container" [class.hasSubNav]="subNavs?.length>0">
  <router-outlet></router-outlet>
</section>
