<aside class="layout-nav">
  <div class="brand">
    <span *ngIf="folding">P</span>
    <span *ngIf="!folding">Paladin</span>
  </div>
  <div class="module-list">
    <a routerLink="{{rootNavNode.path}}" routerLinkActive="active"  *ngFor="let rootNavNode of rootNavs">
      <i class="iconfont pld-{{rootNavNode.tag}}"></i>
      <span class="title text-nowrap" [hidden]="folding">{{rootNavNode.title}}</span>
    </a>
  </div>
</aside>

<nav class="layout-sub-nav">
  <div class="item" *ngFor="let item of subNavs">
    <a [routerLink]="item.path" routerLinkActive="active">{{item.title}}</a>
  </div>
</nav>

<header class="layout-header">
  <a class="fold-trigger" (click)="toggle()">
    <i nz-icon type="menu-fold" theme="outline" *ngIf="!folding"></i>
    <i nz-icon type="menu-unfold" theme="outline" *ngIf="folding"></i>
  </a>
  <span>面包屑占位符</span>
  <div class="flex-1"></div>
  <nz-dropdown nzPlacement="bottomRight" style="float: right;">
    <a nz-dropdown class="user">
      管理员昵称
    </a>
    <ul nz-menu nzSelectable>
      <!--<li nz-menu-item [nzDisabled]="true"><i class="anticon anticon-user mr-sm"></i>个人中心</li>
      <li nz-menu-item [nzDisabled]="true"><i class="anticon anticon-setting mr-sm"></i>设置</li>-->
      <li nz-menu-item (click)="changePassword()">
        <i class="anticon anticon-setting mr-sm"></i> 修改密码
      </li>
      <li nz-menu-divider></li>
      <li nz-menu-item (click)="logout()">
        <i class="anticon anticon-logout"></i> 退出登录
      </li>
    </ul>
  </nz-dropdown>
</header>

<section>
  页面
</section>
